<!DOCTYPE html>
<html>

<head>
    <title>Support Ticket</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<center>
    <div class="pt-3">

        <a href="{% url 'index' %}"><h3>Support Ticket Home</h3></a>
        {% if request.user.is_authenticated %}
        <div>Logged in as {{ request.user.last_name }}</div>
        <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
        <br>
        <hr style="border: 1px solid;">
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</center>
</body>

</html>